.chercher{
  height:33px;
  width:400px;
  color:black;
  background-color: white;
  text-align: center;
  padding-top: 15px;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  color:white;
  font-weight: bold;
  background-color: #002060;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar {
  height: 10%;
  background: inherit;
  color:white;
}
.mat-nav-list a{
  height:75px;}

.mat-list-item{
  border-bottom: 1px solid #dbd7f1;
  color: white;
}

.mat-toolbar.mat-primary {
  align-items: center;
  background-color: #002060;
  color:white;
  font-weight: bold;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
