.full-width-table {
  width: 100%;
}
.data-table{
  width:80%;
  margin:50px 50px;
}
.mat-tab-header-pagination.mat-tab-header-pagination-disabled {
  display: none !important;

}

 
 table th:nth-child(n){
   background-color:#5b9bd5;
   color: white;
   text-align: center;
 
 }
 table tr:nth-child(odd) {
   background-color: #d2deef;
   text-align: center;
 }
 
 table tr:nth-child(even) {
   background-color: #eaeff7;
   text-align: center;
   
 }
 th , td {
 width: 200px;
 height:20px;
 
 }
 #table-container {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin: 15px;
  }
  table, th , td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
  }
    