.card-container{
    margin:15px;
    display:flex;
    flex-direction: row wrap;
}
.mat-card{
color: white;
display:flex;
flex-direction: row ;
font-size: 25px;
margin-right: 20px;
width:30% ;
height: 220px;
border-radius:2%;

}

.table-container{
    display:flex;
    flex-direction: row ; 
}